@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-primary {
    background: linear-gradient(154.29deg, #4364cd 0%, #0f2877 100%);
  }

  .gradient-green {
    background: linear-gradient(180deg, #d5fff5 0%, #9effe8 100%);
  }

  .gradient-purple {
    background: linear-gradient(180deg, #e6d7ff 0%, #d8c0ff 100%);
  }

  .gradient-orange {
    background: linear-gradient(180deg, #ffe1d3 0%, #ffcfba 100%);
  }
}
